@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-fade-enter-active,
.slide-fade-exit-active {
  transition: opacity 0.3s, transform 0.3s;
}
.slide-fade-enter,
.slide-fade-exit-to {
  transform: translateY(10px);
  opacity: 0;
}
.slide-fade-enter {
  transform: translateY(-10px);
}

/* scrollbars */
::-webkit-scrollbar {
  @apply rounded-full w-1.5 h-1.5 overflow-clip
}
::-webkit-scrollbar-track {
  @apply bg-transparent overflow-clip rounded-full;
}
::-webkit-scrollbar-thumb {
  @apply dark:bg-neutral-700 bg-neutral-300 overflow-clip rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply dark:bg-neutral-600 bg-neutral-400 overflow-clip rounded-full;
}